@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero-height {
    @apply min-h-[calc(100vh-100px)];
  }
  .h1-heading {
    @apply xs:text-[38px] text-white sm:text-[48px] text-[30px] font-normal  tracking-tighter;
  }
  .para-1 {
    @apply xs:text-[18px]  sm:text-[20px] text-[16px] font-extralight text-sec;
  }
  .para-2 {
    @apply xs:text-[18px]  sm:text-[22px] text-[16px] font-normal text-sec;
  }
  .paddings {
    @apply sm:p-16 xs:p-8 px-6 py-12;
  }
  .paddings-x {
    @apply sm:px-16 xs:px-8;
  }
  .margins-x {
    @apply sm:mx-16 xs:mx-8;
  }
  .feature-heading {
    @apply flex justify-center items-baseline;
  }
  .card {
    @apply rounded-[9px]  shadow-card w-[291px] min-h-[365px] max-w-[358px] max-h-[385px];
  }

  .input-search {
    @apply border text-white px-16  shadow-[0px_0px_128px_rgba(47,46,65,0.69)] backdrop-blur-2xl transition-all duration-300 h-12 rounded-sm border-solid border-[rgba(255,255,255,0.45)] hover:border-2 hover:border-solid hover:border-[rgba(255,255,255,0.6)];
    background: linear-gradient(
      114deg,
      rgba(234, 234, 234, 0.04) -17.11%,
      rgba(255, 255, 255, 0.15) 92.8%
    );

    /*Addasmoothtransition*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }

  /* Add styles for when the input-search is hovered */
  .input-search:hover {
    background: linear-gradient(
      114deg,
      rgba(234, 234, 234, 0.1) -17.11%,
      rgba(255, 255, 255, 0.2) 92.8%
    );
  }

  /* Add styles for when the input-search is focused (clicked) */
  .input-search:focus {
    outline: none;

    /* Remove the default focus outline */
  }
  .input-normal {
    @apply border text-white shadow-[0px_0px_128px_rgba(47,46,65,0.69)] backdrop-blur-2xl transition-all duration-300  rounded-sm border-solid border-[rgba(255,255,255,0.45)] hover:border-2 hover:border-solid hover:border-[rgba(255,255,255,0.6)];
    background: transparent;
  }
  .btn {
    @apply px-5 py-3 rounded;

    background: linear-gradient(105deg, #da0c2f -18.49%, #28171a 108.66%);
  }
  .hero-carousel{
    @apply w-full;
}
}
